OCR_AI/backend/receipt-ocr/workflows/receipt-ocr-core-workflow.json
{
  "name": "Receipt OCR Core",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "1",
      "name": "Execute Sub-workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "const source = $input.first();\nconst binary = source.binary ?? $binary ?? {};\nconst upload = binary.receipt;\nconst warnings = [];\n\nfunction parseCategories(rawValue) {\n  if (!rawValue) return { invalid: false, categories: [] };\n\n  let parsed = rawValue;\n  if (typeof rawValue === 'string') {\n    try {\n      parsed = JSON.parse(rawValue);\n    } catch {\n      return { invalid: true, categories: [] };\n    }\n  }\n\n  if (!Array.isArray(parsed)) {\n    return { invalid: true, categories: [] };\n  }\n\n  const categories = parsed\n    .map((entry, index) => {\n      if (!entry || typeof entry !== 'object') return null;\n      const id = entry.id ?? entry.category_id ?? `category-${index + 1}`;\n      const name = typeof entry.name === 'string' ? entry.name.trim() : '';\n      if (!name) return null;\n      const aliases = Array.isArray(entry.aliases)\n        ? entry.aliases.filter((alias) => typeof alias === 'string').map((alias) => alias.trim()).filter(Boolean)\n        : [];\n      return { id: String(id), name, aliases };\n    })\n    .filter(Boolean);\n\n  return { invalid: false, categories };\n}\n\nif (!upload) {\n  return [{\n    json: {\n      valid: false,\n      ok: false,\n      statusCode: 400,\n      error: {\n        error_code: 'INVALID_INPUT',\n        message: 'A receipt image is required in the multipart field \"receipt\".'\n      }\n    }\n  }];\n}\n\nconst mimeType = upload.mimeType ?? '';\nif (!mimeType.startsWith('image/')) {\n  return [{\n    json: {\n      valid: false,\n      ok: false,\n      statusCode: 400,\n      error: {\n        error_code: 'INVALID_INPUT',\n        message: 'Only image uploads are supported for receipt OCR.'\n      }\n    },\n    binary\n  }];\n}\n\nconst parsedCategoryResult = parseCategories(source.json?.categories_json ?? $json?.categories_json ?? null);\nif (parsedCategoryResult.invalid) {\n  warnings.push('categories_json_invalid');\n}\n\nreturn [{\n  json: {\n    valid: true,\n    warnings,\n    categories: parsedCategoryResult.categories,\n    categories_json: source.json?.categories_json ?? $json?.categories_json ?? null,\n    binaryPropertyName: 'receipt'\n  },\n  binary\n}];"
      },
      "id": "2",
      "name": "Validate OCR Core Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.valid }}", "value2": true }]
        }
      },
      "id": "3",
      "name": "IF Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.veryfi.com/api/v8/partner/documents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/json" },
            { "name": "CLIENT-ID", "value": "={{ $env.VERYFI_CLIENT_ID }}" },
            {
              "name": "AUTHORIZATION",
              "value": "={{ `apikey ${$env.VERYFI_USERNAME}:${$env.VERYFI_API_KEY}` }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{ "name": "confidence_details", "value": "true" }]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $binary.receipt.data }}",
              "parameterType": "formBinaryData"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "4",
      "name": "Veryfi Process Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 220],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json ?? {};\nconst validation = $(\"Validate OCR Core Request\").first().json ?? {};\nconst requiredConfidence = Number($env.OCR_REQUIRED_CONFIDENCE ?? '0.65');\nconst fallbackCurrency = String($env.OCR_DEFAULT_CURRENCY ?? 'VND').toUpperCase();\nconst warnings = Array.isArray(validation.warnings) ? [...validation.warnings] : [];\n\nfunction normalizeDate(value) {\n  if (!value) return null;\n  if (/^\\d{4}-\\d{2}-\\d{2}T/.test(value)) return value;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(value)) return `${value}T00:00:00Z`;\n  const date = new Date(value);\n  if (Number.isNaN(date.getTime())) return null;\n  return date.toISOString();\n}\n\nfunction normalizeMoney(value, fallback = null) {\n  const numeric = Number(value);\n  return Number.isFinite(numeric) ? numeric : fallback;\n}\n\nfunction normalizePaymentMethod(rawValue) {\n  const value = String(rawValue ?? '').trim().toLowerCase();\n  if (!value) return null;\n  if (/(cash|tien mat|tiền mặt)/.test(value)) return 'cash';\n  if (/(bank|transfer|wire|chuyen khoan|chuyển khoản)/.test(value)) return 'bank_transfer';\n  if (/(credit|visa|mastercard|amex)/.test(value)) return 'credit_card';\n  if (/(debit|atm)/.test(value)) return 'debit_card';\n  if (/(momo|zalopay|e-wallet|ewallet|wallet|apple pay|google pay)/.test(value)) return 'e_wallet';\n  return 'other';\n}\n\nfunction buildError(errorCode, message, details = undefined, statusCode = 400) {\n  return [{\n    json: {\n      ok: false,\n      valid: false,\n      statusCode,\n      error: {\n        error_code: errorCode,\n        message,\n        ...(details ? { details } : {})\n      }\n    }\n  }];\n}\n\nif (payload.error || payload.statusCode >= 400) {\n  return buildError('OCR_FAILED', 'Veryfi OCR request failed before a usable extraction was returned.');\n}\n\nconst totalAmount = normalizeMoney(payload.total ?? payload.grand_total ?? payload.total_amount, null);\nconst taxAmount = normalizeMoney(payload.tax ?? payload.tax_amount ?? payload.tax_total ?? payload.total_tax, null);\nconst currency = String(payload.currency_code ?? payload.currency ?? fallbackCurrency).toUpperCase();\nconst merchantName = String(payload.vendor?.name ?? payload.vendor_name ?? payload.vendor ?? '').trim() || null;\nconst transactionDatetime = normalizeDate(payload.date ?? payload.transaction_date ?? payload.created_date);\nconst paymentMethod = normalizePaymentMethod(payload.payment?.display_name ?? payload.payment?.type ?? payload.payment_method ?? '');\nconst confidenceDetails = payload.confidence_details ?? {};\nconst confidenceValues = [];\nfor (const key of ['total', 'vendor_name', 'date']) {\n  const value = Number(confidenceDetails[key]);\n  if (!Number.isNaN(value)) confidenceValues.push(value);\n}\nconst lowestConfidence = confidenceValues.length ? Math.min(...confidenceValues) : null;\nif (payload.blurry === true) warnings.push('blur_detected');\nif (lowestConfidence !== null && lowestConfidence < requiredConfidence) warnings.push('low_confidence_extraction');\nif (taxAmount === null) warnings.push('missing_tax_amount');\nif (!paymentMethod) warnings.push('missing_payment_method');\n\nconst missingFields = [];\nif (!Number.isFinite(totalAmount)) missingFields.push('total_amount');\nif (!currency) missingFields.push('currency');\nif (!merchantName) missingFields.push('merchant_name');\nif (!transactionDatetime) missingFields.push('transaction_datetime');\nif (missingFields.length > 0) {\n  return buildError('INSUFFICIENT_DATA', 'OCR completed but required receipt fields could not be derived reliably.', { missing_fields: missingFields, warnings }, 400);\n}\n\nconst categorySignals = [\n  payload.category,\n  payload.document_type,\n  merchantName,\n  Array.isArray(payload.line_items) ? payload.line_items.map((item) => item?.description ?? '').join(' ') : ''\n].filter(Boolean).join(' ').toLowerCase();\n\nreturn [{\n  json: {\n    ok: true,\n    valid: true,\n    statusCode: 200,\n    data: {\n      merchant_name: merchantName,\n      transaction_datetime: transactionDatetime,\n      total_amount: totalAmount,\n      tax_amount: taxAmount,\n      currency,\n      payment_method: paymentMethod,\n      ai_suggested_category: null,\n      ai_suggested_category_id: null,\n      warnings,\n      needs_review: warnings.length > 0\n    },\n    category_signal_text: categorySignals\n  }\n}];"
      },
      "id": "5",
      "name": "Normalize OCR Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1220, 220]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.ok }}", "value2": true }]
        }
      },
      "id": "6",
      "name": "IF Usable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1480, 220]
    },
    {
      "parameters": {
        "jsCode": "const result = $json ?? {};\nconst data = result.data ?? {};\nconst validation = $(\"Validate OCR Core Request\").first().json ?? {};\nconst categories = Array.isArray(validation.categories) ? validation.categories : [];\nconst source = String(result.category_signal_text ?? '').toLowerCase();\nconst warnings = Array.isArray(data.warnings) ? [...data.warnings] : [];\n\nfunction tokenize(value) {\n  return String(value ?? '')\n    .toLowerCase()\n    .split(/[^\\p{L}\\p{N}]+/u)\n    .map((token) => token.trim())\n    .filter((token) => token.length >= 2);\n}\n\nlet bestMatch = null;\nlet bestScore = 0;\nfor (const category of categories) {\n  const tokens = new Set([...tokenize(category.name), ...(Array.isArray(category.aliases) ? category.aliases.flatMap(tokenize) : [])]);\n  let score = 0;\n  for (const token of tokens) {\n    if (token && source.includes(token)) score += token.length;\n  }\n  if (score > bestScore) {\n    bestScore = score;\n    bestMatch = category;\n  }\n}\n\nif (!bestMatch) {\n  warnings.push('category_match_unavailable');\n} else {\n  data.ai_suggested_category = bestMatch.name;\n  data.ai_suggested_category_id = bestMatch.id;\n}\n\ndata.warnings = [...new Set(warnings)];\ndata.needs_review = Boolean(data.needs_review || data.warnings.length > 0);\n\nreturn [{\n  json: {\n    ok: true,\n    statusCode: result.statusCode ?? 200,\n    data\n  }\n}];"
      },
      "id": "7",
      "name": "Match User Category",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 140]
    },
    {
      "parameters": {
        "jsCode": "const result = $json ?? {};\nconst data = result.data ?? {};\nreturn [{\n  json: {\n    ok: true,\n    statusCode: result.statusCode ?? 200,\n    data: {\n      merchant_name: data.merchant_name ?? null,\n      transaction_datetime: data.transaction_datetime ?? null,\n      total_amount: Number.isFinite(data.total_amount) ? data.total_amount : 0,\n      tax_amount: data.tax_amount ?? null,\n      currency: data.currency ?? 'VND',\n      payment_method: data.payment_method ?? null,\n      ai_suggested_category: data.ai_suggested_category ?? null,\n      ai_suggested_category_id: data.ai_suggested_category_id ?? null,\n      warnings: Array.isArray(data.warnings) ? [...new Set(data.warnings)] : [],\n      needs_review: Boolean(data.needs_review)\n    }\n  }\n}];"
      },
      "id": "8",
      "name": "Return Structured OCR Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 140]
    },
    {
      "parameters": {
        "jsCode": "const result = $json ?? {};\nreturn [{\n  json: {\n    ok: false,\n    statusCode: result.statusCode ?? 400,\n    error: result.error ?? {\n      error_code: 'OCR_FAILED',\n      message: 'Receipt OCR Core did not return a structured error payload.'\n    }\n  }\n}];"
      },
      "id": "9",
      "name": "Return Structured OCR Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 340]
    }
  ],
  "connections": {
    "Execute Sub-workflow Trigger": {
      "main": [[{ "node": "Validate OCR Core Request", "type": "main", "index": 0 }]]
    },
    "Validate OCR Core Request": {
      "main": [[{ "node": "IF Valid?", "type": "main", "index": 0 }]]
    },
    "IF Valid?": {
      "main": [
        [{ "node": "Veryfi Process Document", "type": "main", "index": 0 }],
        [{ "node": "Return Structured OCR Error", "type": "main", "index": 0 }]
      ]
    },
    "Veryfi Process Document": {
      "main": [[{ "node": "Normalize OCR Result", "type": "main", "index": 0 }]]
    },
    "Normalize OCR Result": {
      "main": [[{ "node": "IF Usable?", "type": "main", "index": 0 }]]
    },
    "IF Usable?": {
      "main": [
        [{ "node": "Match User Category", "type": "main", "index": 0 }],
        [{ "node": "Return Structured OCR Error", "type": "main", "index": 0 }]
      ]
    },
    "Match User Category": {
      "main": [[{ "node": "Return Structured OCR Data", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "receipt-ocr-core-workflow-v1",
  "id": "receipt-ocr-core-workflow",
  "tags": []
}
